@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    --header-height: 7rem;

    /* color */
    --button-color: #FFF;
    --text-color:  #1c1e1d;
    --text-color-light: #313131;
    --text-color-active: #ffbb5e;
    --text-color-active-light: #ffbc5e;
    --body-color: #f5f4f0;
    --box-shadow-color: #a6a7a4;
    --container-color: #fff;
    --container-text: #356982;
    --container-text-light: #779aa8;
    --border-color: hsl(0,0%,94%);

    /* font */
    --body-font: 'DM Sans';
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    

    /* font weight */
    --font-medium: 500;
    --font-bold: 700;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,button,input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    margin: 0;
    background: var(--body-color);
    color: var(--text-color);
}

h1,h2{
    color: var(--text-color);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

.container{
    max-width: 1440;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.grid{
    display: grid;
}

.section{
    padding: 4rem 0 0;
}

.btn{
    background: var(--button-color);
    padding: 0.875rem 1.5rem;
    color: var(--text-color-active);
    border-radius: 15px;
    font-weight: var(--font-bold);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  height: var(--header-height);
}

.nav-logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-size: 1.5rem;
}

.nav > ul{
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.header-text{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-weight: var(--font-bold);
}

.header-text > h1{
  line-height: 1.5;
  font-size: 3rem;
}

.header-orange{
  color: var(--text-color-active-light);
}

.header-blue{
  color: var(--container-text);
}

.header-container{
  grid-template-columns: repeat(4, 1fr);
  width: 70vw;
  background: var(--container-color);
  padding: 3rem 1.5rem;
  margin-top: 3rem;
  border-radius: 15px;
  box-shadow: 1px 2px var(--box-shadow-color);
}

.header-container > div{
  display: flex;
  font-weight: var(--font-bold);
  flex-direction: column;
  row-gap: 1rem;
}

.container-title{
  color: var(--container-text);
}

.container-text{
  color: var(--container-text-light);
}

.header-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-btn > button{
  padding: .5rem 1rem;
  background: var(--container-text);
}

.destination > h3, .destination > h1{
  text-align: center;
  margin-bottom: 2rem;
}

.destination > h1{
  font-size: 3rem;
}

.destination > h3{
  color: var(--text-color-active);
}

.destination > p{
  float: right;
  margin-top: 3rem;
  color: #E4A54A;
  font-weight: var(--font-bold);
}

.article{
  grid-template-columns: repeat(3, 25vw);
  justify-content: space-between;
  margin-top: 4rem;
}

.card{
  background: var(--container-color);
  border-radius: 15px;
}

.card > img{
  border-radius: 15px;
  height: 250px;
  width: 100%;
}

.card-details{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 1rem;
}

.card-details >h4, .card-rating > p{
  color: var(--container-text);
  font-weight: var(--font-bold);
}

.card-rating{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.service{
  margin-top: 4rem;
}

.service > h2{
  margin-bottom: 2rem;
  color: var(--text-color-active);
}

.service > h1{
  margin-bottom: 4rem;
  font-size: 3rem;
}

.services{
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  margin-bottom: 2rem;
}

.services > button{
  padding: 2.5rem 2.5rem;
}

.service-details{
  color: var(--container-text);
  margin-top: 1rem;
}

.travel-head{
  text-align: center;
}

.travel-head > h3{
  color: var(--text-color-active);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.travel-head > h1{
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.travel-card{
  position: relative;
  height: 400px;
  border-radius: 20px;
}

.travel-card > img{
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

.travel-card > p{
  background: #e4a54a;
  color: var(--container-color);
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-weight: var(--font-bold);
  border-radius: 50px;
}

.travel-item{
  margin-top: 4rem;
  grid-template-columns: repeat(3, 25vw);
  justify-content: space-between;
}

.travel > p{
  float: right;
  margin-top: 3rem;
  color: #E4A54A;
  font-weight: var(--font-bold);
}

.testimonial-head{
  text-align: center;
}

.testimonial-head > h3{
  color: var(--text-color-active);
  font-weight: var(--font-bold);
  margin: 4rem 0 2rem;
}

.testimonial-head > h1{
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.articles{
  background: var(--container-color);
  box-shadow: 1px 2px var(--box-shadow-color);
  padding: 1.5rem;
}

.article-head{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.article-head > img{
  border-radius: 50%;
  width: 30%;
}

.article-text > h1{
  margin-bottom: .5rem;
  letter-spacing: -0.02rem;
}

.article-text > h2{
  color: var(--container-text);
  letter-spacing: -0.02rem;
}

.article-p{
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.article-icon{
  display: flex;
  margin-bottom: 1rem;
  column-gap: 1rem;
}

.article-grid{
  grid-template-columns: repeat(3, 25vw);
  justify-content: space-between;
  margin-top: 4rem;
}

.testimonial-forms{
  margin-top: 7rem;
  text-align: center;
}

.testimonial-forms > h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.testimonial-form{
  padding: 4rem 3rem;
  background: var(--container-text);
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.testimonial-form > input{
  background: transparent;
  outline: none;
  border: none;
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
  font-weight: var(--font-bold);
  color: #afb6bd;
  width: 100%;
}

.testimonial-form > button{
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: var(--font-bold);
  background: #2e3a4a;
  color: var(--container-color);
  border-radius: 10px;
}

.footer{
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  margin-top: 6rem;
}

.footer-list > h1{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.footer-list > ul{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-weight: var(--font-bold);
}

.icon-list > li{
  background: var(--container-color);
  border-radius: 50%;
  padding: 1rem;
  width: 4rem;
}

.footer-text{
  margin: 6rem 0 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: var(--font-bold);
}